VITE_MASTER_COLLECTION_API_BASE_URL=
VITE_MASTER_COLLECTION_WF_PROXY=https://flowbridge-assets.vanquish-ideas.workers.dev/wf-api
VITE_MASTER_COLLECTION_CDN_BASE_URL=https://flowbridge-assets.vanquish-ideas.workers.dev
